@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  cursor: url("../static/cursor.cur"), auto;
  overflow-x: hidden;
}

a:hover {
  cursor: url("../static/cursor.cur"), auto;
}

body {
  padding: 1%;
  background: #171738;
  font-size: 14px;
  font-family: "Silkscreen", sans-serif;
}

.main-content {
  display: none;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  inset: 0;
  overflow: hidden;
  position: absolute;
  display: block;
  background: radial-gradient(circle at center, rgba(89, 60, 143, 0.25), #171738);
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 320px;
  height: 2.5px;
  border-radius: 10px;
  background-color: rgb(152, 152, 152);
}
.progress-bar > span {
  display: block;
  position: relative;
  overflow: hidden;
  width: 0;
  height: 100%;
  background: white;
}

.amogus {
  width: 4rem;
  aspect-ratio: 3/4;
  overflow: hidden;
  position: absolute;
  top: 41%;
  left: -4rem;
  -webkit-animation: eject 5s linear;
          animation: eject 5s linear;
  opacity: 1;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.stars-parallax {
  height: 100%;
  width: 100%;
  overflow: hidden;
  rotate: 90deg;
}
.stars-parallax .stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 24px 617px #FFF , 752px 320px #FFF , 1088px 932px #FFF , 923px 527px #FFF , 1034px 1786px #FFF , 1837px 613px #FFF , 1970px 1177px #FFF , 1840px 1343px #FFF , 455px 1491px #FFF , 502px 800px #FFF , 1787px 1075px #FFF , 1508px 1440px #FFF , 1332px 1505px #FFF , 1873px 429px #FFF , 645px 1501px #FFF , 1354px 1565px #FFF , 1045px 564px #FFF , 1103px 1863px #FFF , 1374px 1322px #FFF , 202px 1134px #FFF , 1593px 1473px #FFF , 191px 945px #FFF , 521px 1562px #FFF , 192px 117px #FFF , 818px 457px #FFF , 334px 895px #FFF , 1399px 84px #FFF , 264px 1496px #FFF , 328px 622px #FFF , 1375px 973px #FFF , 60px 1838px #FFF , 1319px 1302px #FFF , 702px 1294px #FFF , 1800px 100px #FFF , 1560px 1450px #FFF , 1272px 302px #FFF , 1993px 1617px #FFF , 478px 664px #FFF , 137px 132px #FFF , 69px 623px #FFF , 1586px 1335px #FFF , 1680px 846px #FFF , 1113px 1746px #FFF , 356px 663px #FFF , 1026px 501px #FFF , 1563px 1429px #FFF , 1167px 856px #FFF , 814px 1024px #FFF , 480px 1894px #FFF , 576px 843px #FFF , 402px 1251px #FFF , 394px 169px #FFF , 1339px 320px #FFF , 1830px 1338px #FFF , 927px 1409px #FFF , 1905px 842px #FFF , 1710px 587px #FFF , 974px 1723px #FFF , 1575px 1184px #FFF , 476px 1208px #FFF , 1367px 911px #FFF , 905px 1148px #FFF , 426px 183px #FFF , 216px 1272px #FFF , 293px 911px #FFF , 772px 873px #FFF , 1195px 484px #FFF , 970px 1784px #FFF , 1173px 1513px #FFF , 906px 1819px #FFF , 1932px 505px #FFF , 1298px 459px #FFF , 1237px 1743px #FFF , 1366px 79px #FFF , 1472px 997px #FFF , 1504px 1525px #FFF , 49px 1637px #FFF , 1808px 1045px #FFF , 1062px 1459px #FFF , 880px 1138px #FFF , 1012px 1910px #FFF , 345px 492px #FFF , 1674px 683px #FFF , 970px 709px #FFF , 986px 614px #FFF , 1233px 1699px #FFF , 469px 726px #FFF , 1367px 485px #FFF , 352px 197px #FFF , 1605px 852px #FFF , 1407px 1994px #FFF , 1229px 1979px #FFF , 912px 540px #FFF , 534px 249px #FFF , 1241px 1642px #FFF , 881px 1030px #FFF , 1751px 1783px #FFF , 1192px 1135px #FFF , 1717px 1137px #FFF , 165px 1121px #FFF , 1372px 1606px #FFF , 612px 601px #FFF , 290px 752px #FFF , 1658px 1732px #FFF , 1158px 1807px #FFF , 23px 1826px #FFF , 842px 125px #FFF , 1626px 1499px #FFF , 1332px 1654px #FFF , 912px 799px #FFF , 719px 461px #FFF , 951px 351px #FFF , 824px 448px #FFF , 1739px 1813px #FFF , 1282px 400px #FFF , 1386px 1091px #FFF , 1472px 806px #FFF , 1318px 1702px #FFF , 497px 1314px #FFF , 1587px 76px #FFF , 1515px 1271px #FFF , 753px 1798px #FFF , 819px 1018px #FFF , 42px 1431px #FFF , 1922px 660px #FFF , 1512px 951px #FFF , 966px 1151px #FFF , 695px 149px #FFF , 1147px 662px #FFF , 1152px 682px #FFF , 80px 1786px #FFF , 622px 96px #FFF , 499px 141px #FFF , 1469px 429px #FFF , 1426px 1758px #FFF , 1752px 1588px #FFF , 508px 462px #FFF , 778px 1533px #FFF , 380px 404px #FFF , 658px 1713px #FFF , 686px 1361px #FFF , 1437px 847px #FFF , 1346px 1891px #FFF , 481px 1933px #FFF , 1195px 738px #FFF , 1819px 1536px #FFF , 1653px 1841px #FFF , 332px 1883px #FFF , 94px 1509px #FFF , 230px 1327px #FFF , 1038px 1929px #FFF , 761px 1952px #FFF , 661px 1125px #FFF , 410px 416px #FFF , 1024px 838px #FFF , 768px 1369px #FFF , 778px 1783px #FFF , 104px 1654px #FFF , 109px 444px #FFF , 1114px 153px #FFF , 987px 495px #FFF , 1679px 1605px #FFF , 1792px 1050px #FFF , 102px 1718px #FFF , 594px 1616px #FFF , 1095px 1293px #FFF , 102px 566px #FFF , 322px 320px #FFF , 1368px 258px #FFF , 1748px 1901px #FFF , 141px 776px #FFF , 869px 1717px #FFF , 1845px 190px #FFF , 819px 366px #FFF , 1345px 280px #FFF , 884px 197px #FFF , 1618px 652px #FFF , 368px 397px #FFF , 460px 797px #FFF , 163px 1803px #FFF , 512px 1151px #FFF , 1571px 257px #FFF , 587px 164px #FFF , 1277px 163px #FFF , 1665px 646px #FFF , 1321px 1065px #FFF , 1514px 276px #FFF , 1567px 10px #FFF , 1890px 1647px #FFF , 1956px 1576px #FFF , 970px 823px #FFF , 1807px 292px #FFF , 595px 1067px #FFF , 344px 183px #FFF , 309px 578px #FFF , 1511px 1122px #FFF , 549px 1400px #FFF , 1008px 1674px #FFF , 1108px 45px #FFF , 321px 1226px #FFF , 945px 1647px #FFF , 1476px 1730px #FFF , 157px 1566px #FFF , 503px 1810px #FFF , 233px 1614px #FFF , 655px 129px #FFF , 1616px 500px #FFF , 1077px 975px #FFF , 202px 726px #FFF , 1586px 1752px #FFF , 1875px 207px #FFF , 521px 662px #FFF , 807px 731px #FFF , 1547px 1743px #FFF , 1057px 1818px #FFF , 813px 563px #FFF , 834px 1664px #FFF , 1653px 1634px #FFF , 203px 1391px #FFF , 1177px 1952px #FFF , 148px 440px #FFF , 336px 1744px #FFF , 742px 723px #FFF , 1619px 1143px #FFF , 1695px 783px #FFF , 713px 900px #FFF , 1520px 1541px #FFF , 1713px 1031px #FFF , 1280px 1359px #FFF , 283px 1805px #FFF , 1421px 1321px #FFF , 569px 1170px #FFF , 482px 1056px #FFF , 202px 1312px #FFF , 598px 448px #FFF , 125px 1896px #FFF , 591px 757px #FFF , 3px 706px #FFF , 96px 42px #FFF , 1089px 506px #FFF , 24px 1180px #FFF , 69px 1752px #FFF , 1278px 207px #FFF , 918px 1148px #FFF , 662px 1004px #FFF , 351px 1601px #FFF , 458px 1918px #FFF , 1657px 691px #FFF , 203px 216px #FFF , 1848px 896px #FFF , 568px 517px #FFF , 843px 1340px #FFF , 1922px 1364px #FFF , 1543px 901px #FFF , 1219px 1131px #FFF , 1029px 1668px #FFF , 1302px 1003px #FFF , 988px 890px #FFF , 88px 1875px #FFF , 1289px 1669px #FFF , 861px 1732px #FFF , 239px 1468px #FFF , 47px 1761px #FFF , 879px 1837px #FFF , 1176px 1921px #FFF , 1419px 1395px #FFF , 1237px 1814px #FFF , 1522px 1722px #FFF , 362px 1059px #FFF , 137px 1097px #FFF , 477px 291px #FFF , 846px 302px #FFF , 637px 1911px #FFF , 1405px 1957px #FFF , 722px 288px #FFF , 107px 1741px #FFF , 168px 1192px #FFF , 1459px 776px #FFF , 1133px 611px #FFF , 809px 1614px #FFF , 1386px 1468px #FFF , 1091px 1020px #FFF , 289px 112px #FFF , 170px 438px #FFF , 511px 1503px #FFF , 1454px 607px #FFF , 1786px 1270px #FFF , 994px 1300px #FFF , 1218px 1695px #FFF , 1805px 1988px #FFF , 1203px 1884px #FFF , 1433px 1038px #FFF , 1741px 1796px #FFF , 30px 1828px #FFF , 1752px 1983px #FFF , 591px 1098px #FFF , 999px 156px #FFF , 965px 874px #FFF , 245px 1493px #FFF , 1129px 301px #FFF , 1332px 1841px #FFF , 949px 163px #FFF , 1484px 1836px #FFF , 576px 69px #FFF , 1491px 724px #FFF , 481px 258px #FFF , 875px 216px #FFF , 1445px 1847px #FFF , 333px 1107px #FFF , 836px 1529px #FFF , 1133px 754px #FFF , 1068px 807px #FFF , 576px 858px #FFF , 1279px 84px #FFF , 1991px 594px #FFF , 1498px 1303px #FFF , 932px 847px #FFF , 1219px 546px #FFF , 1886px 1972px #FFF , 145px 1681px #FFF , 1546px 1273px #FFF , 493px 1929px #FFF , 1563px 983px #FFF , 425px 781px #FFF , 608px 62px #FFF , 1717px 849px #FFF , 1193px 1671px #FFF , 1474px 1629px #FFF , 1808px 878px #FFF , 705px 483px #FFF , 1110px 1765px #FFF , 1220px 1967px #FFF , 1373px 1264px #FFF , 384px 258px #FFF , 589px 849px #FFF , 176px 1845px #FFF , 170px 1829px #FFF , 329px 961px #FFF , 1145px 1513px #FFF , 240px 919px #FFF , 1800px 1466px #FFF , 259px 804px #FFF , 359px 1476px #FFF , 596px 1609px #FFF , 1930px 729px #FFF , 1158px 1928px #FFF , 429px 417px #FFF , 297px 1097px #FFF , 1037px 1283px #FFF , 179px 1401px #FFF , 1803px 1371px #FFF , 1939px 1144px #FFF , 115px 1415px #FFF , 1097px 842px #FFF , 1785px 1231px #FFF , 1085px 1585px #FFF , 896px 741px #FFF , 621px 102px #FFF , 236px 1081px #FFF , 557px 679px #FFF , 154px 1593px #FFF , 812px 498px #FFF , 1760px 1760px #FFF , 1443px 908px #FFF , 1305px 301px #FFF , 36px 389px #FFF , 708px 654px #FFF , 381px 1039px #FFF , 509px 1109px #FFF , 370px 121px #FFF , 1981px 653px #FFF , 648px 1312px #FFF , 1215px 1678px #FFF , 1231px 721px #FFF , 1857px 451px #FFF , 1560px 1606px #FFF , 1794px 339px #FFF , 1814px 214px #FFF , 875px 420px #FFF , 863px 1840px #FFF , 1495px 1829px #FFF , 386px 1210px #FFF , 1090px 109px #FFF , 555px 1200px #FFF , 1409px 984px #FFF , 1076px 1640px #FFF , 458px 165px #FFF , 19px 1430px #FFF , 616px 97px #FFF , 1143px 39px #FFF , 1922px 1494px #FFF , 1949px 316px #FFF , 1840px 869px #FFF , 1311px 1898px #FFF , 578px 476px #FFF , 424px 1917px #FFF , 1453px 745px #FFF , 881px 465px #FFF , 1343px 1995px #FFF , 1738px 1260px #FFF , 472px 1801px #FFF , 721px 1078px #FFF , 217px 1360px #FFF , 874px 633px #FFF , 1677px 314px #FFF , 1911px 621px #FFF , 1328px 7px #FFF , 1804px 363px #FFF , 1853px 852px #FFF , 957px 1394px #FFF , 569px 902px #FFF , 80px 1732px #FFF , 63px 183px #FFF , 362px 401px #FFF , 1891px 176px #FFF , 356px 1404px #FFF , 387px 205px #FFF , 1392px 1903px #FFF , 1535px 1373px #FFF , 1963px 1507px #FFF , 584px 628px #FFF , 645px 601px #FFF , 1900px 1376px #FFF , 362px 603px #FFF , 1398px 1852px #FFF , 1998px 49px #FFF , 1961px 235px #FFF , 1668px 1159px #FFF , 1926px 933px #FFF , 1547px 1404px #FFF , 1347px 1802px #FFF , 85px 547px #FFF , 1142px 1878px #FFF , 914px 991px #FFF , 1134px 925px #FFF , 824px 1847px #FFF , 779px 994px #FFF , 1034px 234px #FFF , 1995px 151px #FFF , 747px 1369px #FFF , 557px 932px #FFF , 1408px 1984px #FFF , 660px 777px #FFF , 147px 440px #FFF , 310px 1127px #FFF , 697px 1474px #FFF , 1220px 1415px #FFF , 369px 1046px #FFF , 1230px 1046px #FFF , 997px 1590px #FFF , 1763px 1573px #FFF , 1456px 330px #FFF , 521px 1431px #FFF , 146px 1398px #FFF , 457px 1941px #FFF , 1024px 1659px #FFF , 1398px 1034px #FFF , 206px 1326px #FFF , 1935px 1552px #FFF , 1090px 1372px #FFF , 1865px 1535px #FFF , 323px 1421px #FFF , 431px 1418px #FFF , 1995px 1767px #FFF , 923px 1219px #FFF , 1773px 447px #FFF , 1396px 759px #FFF , 1830px 1630px #FFF , 318px 451px #FFF , 1829px 424px #FFF , 907px 616px #FFF , 938px 1470px #FFF , 1751px 438px #FFF , 830px 57px #FFF , 1665px 1698px #FFF , 169px 1560px #FFF , 1223px 488px #FFF , 1033px 3px #FFF , 680px 90px #FFF , 1864px 1949px #FFF , 1847px 1071px #FFF , 1762px 1038px #FFF , 494px 586px #FFF , 901px 1769px #FFF , 1422px 1541px #FFF , 4px 1289px #FFF , 280px 654px #FFF , 287px 638px #FFF , 1137px 602px #FFF , 756px 1993px #FFF , 1861px 1597px #FFF , 741px 1378px #FFF , 1093px 929px #FFF , 258px 1825px #FFF , 1129px 1444px #FFF , 554px 1823px #FFF , 1438px 196px #FFF , 191px 1310px #FFF , 573px 1256px #FFF , 1521px 424px #FFF , 1556px 102px #FFF , 306px 927px #FFF , 1523px 1539px #FFF , 620px 1755px #FFF , 331px 1729px #FFF , 1115px 1039px #FFF , 1118px 1681px #FFF , 102px 1693px #FFF , 1105px 1225px #FFF , 584px 931px #FFF , 846px 1215px #FFF , 218px 608px #FFF , 1580px 1785px #FFF , 1686px 1201px #FFF , 209px 1494px #FFF , 94px 1636px #FFF , 361px 1449px #FFF , 943px 1271px #FFF , 900px 1656px #FFF , 1213px 1554px #FFF , 1217px 107px #FFF , 970px 552px #FFF , 398px 1173px #FFF , 1715px 1674px #FFF , 833px 773px #FFF , 401px 1297px #FFF , 992px 917px #FFF , 1441px 1693px #FFF , 447px 914px #FFF , 1063px 1016px #FFF , 1645px 665px #FFF , 1775px 840px #FFF , 1459px 433px #FFF , 76px 293px #FFF , 1907px 311px #FFF , 1879px 1776px #FFF , 1481px 1244px #FFF , 772px 79px #FFF , 403px 522px #FFF , 278px 1121px #FFF , 474px 1920px #FFF , 1700px 1444px #FFF , 345px 500px #FFF , 1061px 1523px #FFF , 1606px 516px #FFF , 269px 1511px #FFF , 307px 1409px #FFF , 1996px 590px #FFF , 1064px 848px #FFF , 622px 403px #FFF , 361px 91px #FFF , 847px 308px #FFF , 517px 1208px #FFF , 181px 58px #FFF , 1917px 135px #FFF , 1593px 733px #FFF , 1284px 1047px #FFF , 503px 409px #FFF , 96px 1715px #FFF , 982px 808px #FFF , 976px 208px #FFF , 947px 1491px #FFF , 413px 1268px #FFF , 252px 1946px #FFF , 1922px 445px #FFF , 498px 281px #FFF , 1369px 1107px #FFF , 94px 80px #FFF , 1366px 1159px #FFF , 452px 699px #FFF , 263px 308px #FFF , 1801px 1780px #FFF , 1394px 164px #FFF , 1987px 94px #FFF , 1137px 1365px #FFF , 1971px 1564px #FFF , 470px 1634px #FFF , 282px 1666px #FFF , 1563px 1930px #FFF , 771px 140px #FFF , 1494px 908px #FFF , 1565px 1907px #FFF , 509px 1732px #FFF , 1168px 906px #FFF , 886px 1864px #FFF , 1636px 1131px #FFF , 1242px 1461px #FFF , 1238px 354px #FFF , 774px 326px #FFF , 44px 249px #FFF , 1277px 1539px #FFF , 1477px 1778px #FFF , 1618px 676px #FFF , 748px 138px #FFF , 1918px 122px #FFF , 261px 227px #FFF , 1185px 853px #FFF , 337px 414px #FFF , 713px 1481px #FFF , 1489px 847px #FFF , 400px 1178px #FFF , 456px 217px #FFF , 296px 792px #FFF , 1926px 1355px #FFF , 1368px 390px #FFF , 1084px 1149px #FFF , 1611px 641px #FFF , 662px 1936px #FFF , 1755px 833px #FFF , 667px 82px #FFF , 1317px 275px #FFF , 1841px 967px #FFF , 446px 543px #FFF , 1234px 933px #FFF , 1527px 1389px #FFF , 38px 444px #FFF , 538px 59px #FFF , 1857px 999px #FFF , 535px 959px #FFF , 120px 1796px #FFF , 178px 1558px #FFF , 1612px 145px #FFF , 44px 437px #FFF , 91px 1551px #FFF , 960px 824px #FFF , 355px 237px #FFF , 423px 434px #FFF , 959px 723px #FFF , 693px 1987px #FFF , 1199px 253px #FFF , 94px 490px #FFF , 1263px 1691px #FFF , 36px 540px #FFF , 1439px 1883px #FFF , 1025px 923px #FFF , 499px 1725px #FFF , 1952px 778px #FFF , 1039px 1640px #FFF , 987px 20px #FFF , 38px 1713px #FFF , 1033px 1668px #FFF , 1343px 1560px #FFF , 41px 1279px #FFF , 1203px 387px #FFF , 161px 1580px #FFF , 787px 1447px #FFF , 789px 1555px #FFF , 278px 953px #FFF , 181px 1094px #FFF , 559px 643px #FFF , 473px 1805px #FFF , 1633px 1958px #FFF , 1240px 433px #FFF , 1325px 1018px #FFF , 1311px 672px #FFF , 1340px 947px #FFF , 978px 1055px #FFF , 1751px 1647px #FFF , 1579px 1925px #FFF , 1172px 1907px #FFF , 898px 1527px #FFF , 1682px 195px #FFF , 1568px 259px #FFF , 1675px 1927px #FFF , 1556px 1261px #FFF , 1510px 1561px #FFF , 215px 183px #FFF , 1952px 1580px #FFF , 730px 188px #FFF , 489px 264px #FFF , 1704px 1927px #FFF , 90px 248px #FFF , 1454px 1732px #FFF , 30px 1550px #FFF , 698px 1733px #FFF , 414px 105px #FFF , 479px 325px #FFF , 4px 1102px #FFF , 1971px 1164px #FFF , 1063px 250px #FFF , 1672px 300px #FFF , 993px 293px #FFF , 1249px 602px #FFF , 965px 1090px #FFF , 320px 236px #FFF , 721px 1121px #FFF , 531px 1925px #FFF , 1765px 494px #FFF , 1758px 1358px #FFF , 1838px 303px #FFF , 146px 326px #FFF , 499px 381px #FFF , 632px 660px #FFF , 1896px 1138px #FFF , 1259px 1836px #FFF , 1870px 4px #FFF , 893px 1749px #FFF , 1779px 877px #FFF , 329px 465px #FFF , 57px 296px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}
.stars-parallax .stars::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 24px 617px #FFF , 752px 320px #FFF , 1088px 932px #FFF , 923px 527px #FFF , 1034px 1786px #FFF , 1837px 613px #FFF , 1970px 1177px #FFF , 1840px 1343px #FFF , 455px 1491px #FFF , 502px 800px #FFF , 1787px 1075px #FFF , 1508px 1440px #FFF , 1332px 1505px #FFF , 1873px 429px #FFF , 645px 1501px #FFF , 1354px 1565px #FFF , 1045px 564px #FFF , 1103px 1863px #FFF , 1374px 1322px #FFF , 202px 1134px #FFF , 1593px 1473px #FFF , 191px 945px #FFF , 521px 1562px #FFF , 192px 117px #FFF , 818px 457px #FFF , 334px 895px #FFF , 1399px 84px #FFF , 264px 1496px #FFF , 328px 622px #FFF , 1375px 973px #FFF , 60px 1838px #FFF , 1319px 1302px #FFF , 702px 1294px #FFF , 1800px 100px #FFF , 1560px 1450px #FFF , 1272px 302px #FFF , 1993px 1617px #FFF , 478px 664px #FFF , 137px 132px #FFF , 69px 623px #FFF , 1586px 1335px #FFF , 1680px 846px #FFF , 1113px 1746px #FFF , 356px 663px #FFF , 1026px 501px #FFF , 1563px 1429px #FFF , 1167px 856px #FFF , 814px 1024px #FFF , 480px 1894px #FFF , 576px 843px #FFF , 402px 1251px #FFF , 394px 169px #FFF , 1339px 320px #FFF , 1830px 1338px #FFF , 927px 1409px #FFF , 1905px 842px #FFF , 1710px 587px #FFF , 974px 1723px #FFF , 1575px 1184px #FFF , 476px 1208px #FFF , 1367px 911px #FFF , 905px 1148px #FFF , 426px 183px #FFF , 216px 1272px #FFF , 293px 911px #FFF , 772px 873px #FFF , 1195px 484px #FFF , 970px 1784px #FFF , 1173px 1513px #FFF , 906px 1819px #FFF , 1932px 505px #FFF , 1298px 459px #FFF , 1237px 1743px #FFF , 1366px 79px #FFF , 1472px 997px #FFF , 1504px 1525px #FFF , 49px 1637px #FFF , 1808px 1045px #FFF , 1062px 1459px #FFF , 880px 1138px #FFF , 1012px 1910px #FFF , 345px 492px #FFF , 1674px 683px #FFF , 970px 709px #FFF , 986px 614px #FFF , 1233px 1699px #FFF , 469px 726px #FFF , 1367px 485px #FFF , 352px 197px #FFF , 1605px 852px #FFF , 1407px 1994px #FFF , 1229px 1979px #FFF , 912px 540px #FFF , 534px 249px #FFF , 1241px 1642px #FFF , 881px 1030px #FFF , 1751px 1783px #FFF , 1192px 1135px #FFF , 1717px 1137px #FFF , 165px 1121px #FFF , 1372px 1606px #FFF , 612px 601px #FFF , 290px 752px #FFF , 1658px 1732px #FFF , 1158px 1807px #FFF , 23px 1826px #FFF , 842px 125px #FFF , 1626px 1499px #FFF , 1332px 1654px #FFF , 912px 799px #FFF , 719px 461px #FFF , 951px 351px #FFF , 824px 448px #FFF , 1739px 1813px #FFF , 1282px 400px #FFF , 1386px 1091px #FFF , 1472px 806px #FFF , 1318px 1702px #FFF , 497px 1314px #FFF , 1587px 76px #FFF , 1515px 1271px #FFF , 753px 1798px #FFF , 819px 1018px #FFF , 42px 1431px #FFF , 1922px 660px #FFF , 1512px 951px #FFF , 966px 1151px #FFF , 695px 149px #FFF , 1147px 662px #FFF , 1152px 682px #FFF , 80px 1786px #FFF , 622px 96px #FFF , 499px 141px #FFF , 1469px 429px #FFF , 1426px 1758px #FFF , 1752px 1588px #FFF , 508px 462px #FFF , 778px 1533px #FFF , 380px 404px #FFF , 658px 1713px #FFF , 686px 1361px #FFF , 1437px 847px #FFF , 1346px 1891px #FFF , 481px 1933px #FFF , 1195px 738px #FFF , 1819px 1536px #FFF , 1653px 1841px #FFF , 332px 1883px #FFF , 94px 1509px #FFF , 230px 1327px #FFF , 1038px 1929px #FFF , 761px 1952px #FFF , 661px 1125px #FFF , 410px 416px #FFF , 1024px 838px #FFF , 768px 1369px #FFF , 778px 1783px #FFF , 104px 1654px #FFF , 109px 444px #FFF , 1114px 153px #FFF , 987px 495px #FFF , 1679px 1605px #FFF , 1792px 1050px #FFF , 102px 1718px #FFF , 594px 1616px #FFF , 1095px 1293px #FFF , 102px 566px #FFF , 322px 320px #FFF , 1368px 258px #FFF , 1748px 1901px #FFF , 141px 776px #FFF , 869px 1717px #FFF , 1845px 190px #FFF , 819px 366px #FFF , 1345px 280px #FFF , 884px 197px #FFF , 1618px 652px #FFF , 368px 397px #FFF , 460px 797px #FFF , 163px 1803px #FFF , 512px 1151px #FFF , 1571px 257px #FFF , 587px 164px #FFF , 1277px 163px #FFF , 1665px 646px #FFF , 1321px 1065px #FFF , 1514px 276px #FFF , 1567px 10px #FFF , 1890px 1647px #FFF , 1956px 1576px #FFF , 970px 823px #FFF , 1807px 292px #FFF , 595px 1067px #FFF , 344px 183px #FFF , 309px 578px #FFF , 1511px 1122px #FFF , 549px 1400px #FFF , 1008px 1674px #FFF , 1108px 45px #FFF , 321px 1226px #FFF , 945px 1647px #FFF , 1476px 1730px #FFF , 157px 1566px #FFF , 503px 1810px #FFF , 233px 1614px #FFF , 655px 129px #FFF , 1616px 500px #FFF , 1077px 975px #FFF , 202px 726px #FFF , 1586px 1752px #FFF , 1875px 207px #FFF , 521px 662px #FFF , 807px 731px #FFF , 1547px 1743px #FFF , 1057px 1818px #FFF , 813px 563px #FFF , 834px 1664px #FFF , 1653px 1634px #FFF , 203px 1391px #FFF , 1177px 1952px #FFF , 148px 440px #FFF , 336px 1744px #FFF , 742px 723px #FFF , 1619px 1143px #FFF , 1695px 783px #FFF , 713px 900px #FFF , 1520px 1541px #FFF , 1713px 1031px #FFF , 1280px 1359px #FFF , 283px 1805px #FFF , 1421px 1321px #FFF , 569px 1170px #FFF , 482px 1056px #FFF , 202px 1312px #FFF , 598px 448px #FFF , 125px 1896px #FFF , 591px 757px #FFF , 3px 706px #FFF , 96px 42px #FFF , 1089px 506px #FFF , 24px 1180px #FFF , 69px 1752px #FFF , 1278px 207px #FFF , 918px 1148px #FFF , 662px 1004px #FFF , 351px 1601px #FFF , 458px 1918px #FFF , 1657px 691px #FFF , 203px 216px #FFF , 1848px 896px #FFF , 568px 517px #FFF , 843px 1340px #FFF , 1922px 1364px #FFF , 1543px 901px #FFF , 1219px 1131px #FFF , 1029px 1668px #FFF , 1302px 1003px #FFF , 988px 890px #FFF , 88px 1875px #FFF , 1289px 1669px #FFF , 861px 1732px #FFF , 239px 1468px #FFF , 47px 1761px #FFF , 879px 1837px #FFF , 1176px 1921px #FFF , 1419px 1395px #FFF , 1237px 1814px #FFF , 1522px 1722px #FFF , 362px 1059px #FFF , 137px 1097px #FFF , 477px 291px #FFF , 846px 302px #FFF , 637px 1911px #FFF , 1405px 1957px #FFF , 722px 288px #FFF , 107px 1741px #FFF , 168px 1192px #FFF , 1459px 776px #FFF , 1133px 611px #FFF , 809px 1614px #FFF , 1386px 1468px #FFF , 1091px 1020px #FFF , 289px 112px #FFF , 170px 438px #FFF , 511px 1503px #FFF , 1454px 607px #FFF , 1786px 1270px #FFF , 994px 1300px #FFF , 1218px 1695px #FFF , 1805px 1988px #FFF , 1203px 1884px #FFF , 1433px 1038px #FFF , 1741px 1796px #FFF , 30px 1828px #FFF , 1752px 1983px #FFF , 591px 1098px #FFF , 999px 156px #FFF , 965px 874px #FFF , 245px 1493px #FFF , 1129px 301px #FFF , 1332px 1841px #FFF , 949px 163px #FFF , 1484px 1836px #FFF , 576px 69px #FFF , 1491px 724px #FFF , 481px 258px #FFF , 875px 216px #FFF , 1445px 1847px #FFF , 333px 1107px #FFF , 836px 1529px #FFF , 1133px 754px #FFF , 1068px 807px #FFF , 576px 858px #FFF , 1279px 84px #FFF , 1991px 594px #FFF , 1498px 1303px #FFF , 932px 847px #FFF , 1219px 546px #FFF , 1886px 1972px #FFF , 145px 1681px #FFF , 1546px 1273px #FFF , 493px 1929px #FFF , 1563px 983px #FFF , 425px 781px #FFF , 608px 62px #FFF , 1717px 849px #FFF , 1193px 1671px #FFF , 1474px 1629px #FFF , 1808px 878px #FFF , 705px 483px #FFF , 1110px 1765px #FFF , 1220px 1967px #FFF , 1373px 1264px #FFF , 384px 258px #FFF , 589px 849px #FFF , 176px 1845px #FFF , 170px 1829px #FFF , 329px 961px #FFF , 1145px 1513px #FFF , 240px 919px #FFF , 1800px 1466px #FFF , 259px 804px #FFF , 359px 1476px #FFF , 596px 1609px #FFF , 1930px 729px #FFF , 1158px 1928px #FFF , 429px 417px #FFF , 297px 1097px #FFF , 1037px 1283px #FFF , 179px 1401px #FFF , 1803px 1371px #FFF , 1939px 1144px #FFF , 115px 1415px #FFF , 1097px 842px #FFF , 1785px 1231px #FFF , 1085px 1585px #FFF , 896px 741px #FFF , 621px 102px #FFF , 236px 1081px #FFF , 557px 679px #FFF , 154px 1593px #FFF , 812px 498px #FFF , 1760px 1760px #FFF , 1443px 908px #FFF , 1305px 301px #FFF , 36px 389px #FFF , 708px 654px #FFF , 381px 1039px #FFF , 509px 1109px #FFF , 370px 121px #FFF , 1981px 653px #FFF , 648px 1312px #FFF , 1215px 1678px #FFF , 1231px 721px #FFF , 1857px 451px #FFF , 1560px 1606px #FFF , 1794px 339px #FFF , 1814px 214px #FFF , 875px 420px #FFF , 863px 1840px #FFF , 1495px 1829px #FFF , 386px 1210px #FFF , 1090px 109px #FFF , 555px 1200px #FFF , 1409px 984px #FFF , 1076px 1640px #FFF , 458px 165px #FFF , 19px 1430px #FFF , 616px 97px #FFF , 1143px 39px #FFF , 1922px 1494px #FFF , 1949px 316px #FFF , 1840px 869px #FFF , 1311px 1898px #FFF , 578px 476px #FFF , 424px 1917px #FFF , 1453px 745px #FFF , 881px 465px #FFF , 1343px 1995px #FFF , 1738px 1260px #FFF , 472px 1801px #FFF , 721px 1078px #FFF , 217px 1360px #FFF , 874px 633px #FFF , 1677px 314px #FFF , 1911px 621px #FFF , 1328px 7px #FFF , 1804px 363px #FFF , 1853px 852px #FFF , 957px 1394px #FFF , 569px 902px #FFF , 80px 1732px #FFF , 63px 183px #FFF , 362px 401px #FFF , 1891px 176px #FFF , 356px 1404px #FFF , 387px 205px #FFF , 1392px 1903px #FFF , 1535px 1373px #FFF , 1963px 1507px #FFF , 584px 628px #FFF , 645px 601px #FFF , 1900px 1376px #FFF , 362px 603px #FFF , 1398px 1852px #FFF , 1998px 49px #FFF , 1961px 235px #FFF , 1668px 1159px #FFF , 1926px 933px #FFF , 1547px 1404px #FFF , 1347px 1802px #FFF , 85px 547px #FFF , 1142px 1878px #FFF , 914px 991px #FFF , 1134px 925px #FFF , 824px 1847px #FFF , 779px 994px #FFF , 1034px 234px #FFF , 1995px 151px #FFF , 747px 1369px #FFF , 557px 932px #FFF , 1408px 1984px #FFF , 660px 777px #FFF , 147px 440px #FFF , 310px 1127px #FFF , 697px 1474px #FFF , 1220px 1415px #FFF , 369px 1046px #FFF , 1230px 1046px #FFF , 997px 1590px #FFF , 1763px 1573px #FFF , 1456px 330px #FFF , 521px 1431px #FFF , 146px 1398px #FFF , 457px 1941px #FFF , 1024px 1659px #FFF , 1398px 1034px #FFF , 206px 1326px #FFF , 1935px 1552px #FFF , 1090px 1372px #FFF , 1865px 1535px #FFF , 323px 1421px #FFF , 431px 1418px #FFF , 1995px 1767px #FFF , 923px 1219px #FFF , 1773px 447px #FFF , 1396px 759px #FFF , 1830px 1630px #FFF , 318px 451px #FFF , 1829px 424px #FFF , 907px 616px #FFF , 938px 1470px #FFF , 1751px 438px #FFF , 830px 57px #FFF , 1665px 1698px #FFF , 169px 1560px #FFF , 1223px 488px #FFF , 1033px 3px #FFF , 680px 90px #FFF , 1864px 1949px #FFF , 1847px 1071px #FFF , 1762px 1038px #FFF , 494px 586px #FFF , 901px 1769px #FFF , 1422px 1541px #FFF , 4px 1289px #FFF , 280px 654px #FFF , 287px 638px #FFF , 1137px 602px #FFF , 756px 1993px #FFF , 1861px 1597px #FFF , 741px 1378px #FFF , 1093px 929px #FFF , 258px 1825px #FFF , 1129px 1444px #FFF , 554px 1823px #FFF , 1438px 196px #FFF , 191px 1310px #FFF , 573px 1256px #FFF , 1521px 424px #FFF , 1556px 102px #FFF , 306px 927px #FFF , 1523px 1539px #FFF , 620px 1755px #FFF , 331px 1729px #FFF , 1115px 1039px #FFF , 1118px 1681px #FFF , 102px 1693px #FFF , 1105px 1225px #FFF , 584px 931px #FFF , 846px 1215px #FFF , 218px 608px #FFF , 1580px 1785px #FFF , 1686px 1201px #FFF , 209px 1494px #FFF , 94px 1636px #FFF , 361px 1449px #FFF , 943px 1271px #FFF , 900px 1656px #FFF , 1213px 1554px #FFF , 1217px 107px #FFF , 970px 552px #FFF , 398px 1173px #FFF , 1715px 1674px #FFF , 833px 773px #FFF , 401px 1297px #FFF , 992px 917px #FFF , 1441px 1693px #FFF , 447px 914px #FFF , 1063px 1016px #FFF , 1645px 665px #FFF , 1775px 840px #FFF , 1459px 433px #FFF , 76px 293px #FFF , 1907px 311px #FFF , 1879px 1776px #FFF , 1481px 1244px #FFF , 772px 79px #FFF , 403px 522px #FFF , 278px 1121px #FFF , 474px 1920px #FFF , 1700px 1444px #FFF , 345px 500px #FFF , 1061px 1523px #FFF , 1606px 516px #FFF , 269px 1511px #FFF , 307px 1409px #FFF , 1996px 590px #FFF , 1064px 848px #FFF , 622px 403px #FFF , 361px 91px #FFF , 847px 308px #FFF , 517px 1208px #FFF , 181px 58px #FFF , 1917px 135px #FFF , 1593px 733px #FFF , 1284px 1047px #FFF , 503px 409px #FFF , 96px 1715px #FFF , 982px 808px #FFF , 976px 208px #FFF , 947px 1491px #FFF , 413px 1268px #FFF , 252px 1946px #FFF , 1922px 445px #FFF , 498px 281px #FFF , 1369px 1107px #FFF , 94px 80px #FFF , 1366px 1159px #FFF , 452px 699px #FFF , 263px 308px #FFF , 1801px 1780px #FFF , 1394px 164px #FFF , 1987px 94px #FFF , 1137px 1365px #FFF , 1971px 1564px #FFF , 470px 1634px #FFF , 282px 1666px #FFF , 1563px 1930px #FFF , 771px 140px #FFF , 1494px 908px #FFF , 1565px 1907px #FFF , 509px 1732px #FFF , 1168px 906px #FFF , 886px 1864px #FFF , 1636px 1131px #FFF , 1242px 1461px #FFF , 1238px 354px #FFF , 774px 326px #FFF , 44px 249px #FFF , 1277px 1539px #FFF , 1477px 1778px #FFF , 1618px 676px #FFF , 748px 138px #FFF , 1918px 122px #FFF , 261px 227px #FFF , 1185px 853px #FFF , 337px 414px #FFF , 713px 1481px #FFF , 1489px 847px #FFF , 400px 1178px #FFF , 456px 217px #FFF , 296px 792px #FFF , 1926px 1355px #FFF , 1368px 390px #FFF , 1084px 1149px #FFF , 1611px 641px #FFF , 662px 1936px #FFF , 1755px 833px #FFF , 667px 82px #FFF , 1317px 275px #FFF , 1841px 967px #FFF , 446px 543px #FFF , 1234px 933px #FFF , 1527px 1389px #FFF , 38px 444px #FFF , 538px 59px #FFF , 1857px 999px #FFF , 535px 959px #FFF , 120px 1796px #FFF , 178px 1558px #FFF , 1612px 145px #FFF , 44px 437px #FFF , 91px 1551px #FFF , 960px 824px #FFF , 355px 237px #FFF , 423px 434px #FFF , 959px 723px #FFF , 693px 1987px #FFF , 1199px 253px #FFF , 94px 490px #FFF , 1263px 1691px #FFF , 36px 540px #FFF , 1439px 1883px #FFF , 1025px 923px #FFF , 499px 1725px #FFF , 1952px 778px #FFF , 1039px 1640px #FFF , 987px 20px #FFF , 38px 1713px #FFF , 1033px 1668px #FFF , 1343px 1560px #FFF , 41px 1279px #FFF , 1203px 387px #FFF , 161px 1580px #FFF , 787px 1447px #FFF , 789px 1555px #FFF , 278px 953px #FFF , 181px 1094px #FFF , 559px 643px #FFF , 473px 1805px #FFF , 1633px 1958px #FFF , 1240px 433px #FFF , 1325px 1018px #FFF , 1311px 672px #FFF , 1340px 947px #FFF , 978px 1055px #FFF , 1751px 1647px #FFF , 1579px 1925px #FFF , 1172px 1907px #FFF , 898px 1527px #FFF , 1682px 195px #FFF , 1568px 259px #FFF , 1675px 1927px #FFF , 1556px 1261px #FFF , 1510px 1561px #FFF , 215px 183px #FFF , 1952px 1580px #FFF , 730px 188px #FFF , 489px 264px #FFF , 1704px 1927px #FFF , 90px 248px #FFF , 1454px 1732px #FFF , 30px 1550px #FFF , 698px 1733px #FFF , 414px 105px #FFF , 479px 325px #FFF , 4px 1102px #FFF , 1971px 1164px #FFF , 1063px 250px #FFF , 1672px 300px #FFF , 993px 293px #FFF , 1249px 602px #FFF , 965px 1090px #FFF , 320px 236px #FFF , 721px 1121px #FFF , 531px 1925px #FFF , 1765px 494px #FFF , 1758px 1358px #FFF , 1838px 303px #FFF , 146px 326px #FFF , 499px 381px #FFF , 632px 660px #FFF , 1896px 1138px #FFF , 1259px 1836px #FFF , 1870px 4px #FFF , 893px 1749px #FFF , 1779px 877px #FFF , 329px 465px #FFF , 57px 296px #FFF;
}

.loading-text {
  font-size: 24px;
  color: white;
  -webkit-animation: extend 3s steps(3, end) infinite;
          animation: extend 3s steps(3, end) infinite;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.5rem;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.loading-text::after {
  content: "...";
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar a {
  color: white !important;
}
.navbar .nav-link:hover {
  -webkit-animation: upAndDown 1s linear infinite;
          animation: upAndDown 1s linear infinite;
  background: linear-gradient(#D499B9, #D499B9, #593c8f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.navbar .navbar-brand {
  color: white;
  -webkit-animation: upAndDown 2s linear infinite;
          animation: upAndDown 2s linear infinite;
}
.navbar .navbar-brand:hover {
  color: #976BA4;
  background-position: -2000px;
  background: repeating-linear-gradient(-60deg, #593c8f 0%, #593c8f 21%, #D499B9 31%, white 50%, #D499B9 61%, #593c8f 71%, #593c8f 100%);
  background-size: 100%;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 20s linear infinite;
          animation: shine 20s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(1px 1px white);
}
.navbar ul > li {
  margin: 1rem 0;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}
.navbar button.navbar-toggler-collapse:hover {
  border: 1px solid white;
}

section {
  padding: 1%;
  color: white;
  text-align: center;
}
section h4 {
  text-align: center;
}
section h4:hover {
  color: #976BA4;
  background-position: -2000px;
  background: repeating-linear-gradient(-60deg, #593c8f 0%, #593c8f 21%, #D499B9 31%, white 50%, #D499B9 61%, #593c8f 71%, #593c8f 100%);
  background-size: 100%;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 20s linear infinite;
          animation: shine 20s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(1px 1px white);
}
section p {
  color: #976BA4;
}

.main-content section:not(#Main) {
  margin-bottom: 6rem;
}

#Main {
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}
#Main > * {
  word-wrap: break-word;
}
#Main > div {
  margin: 4rem 0;
}
#Main h1 {
  -webkit-animation: upAndDown 1.5s linear infinite;
          animation: upAndDown 1.5s linear infinite;
  margin: 0;
}
#Main .description > * {
  display: inline-block;
}
#Main .description p {
  margin: 1rem 0;
  color: #976BA4;
  background-position: -2000px;
  background: repeating-linear-gradient(-60deg, #593c8f 0%, #593c8f 21%, #976BA4 31%, #D499B9 50%, #976BA4 61%, #593c8f 71%, #593c8f 100%);
  background-size: 100%;
  color: transparent;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

.funni-bongo-cat {
  margin-bottom: 0 !important;
}
.funni-bongo-cat svg {
  max-width: 720px;
}
.funni-bongo-cat text {
  display: none;
}
.funni-bongo-cat:hover text {
  display: block;
}

#bongo-cat {
  fill: #171738;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#bongo-cat .head {
  transform: translate(1%, 0);
}
#bongo-cat .head text {
  stroke-width: 1;
}
#bongo-cat .paw, #bongo-cat .head {
  stroke: #D499B9;
}
#bongo-cat .pads {
  stroke-width: 2;
}
#bongo-cat .laptop-base, #bongo-cat .table-base, #bongo-cat .laptop-cover {
  stroke: #976BA4;
}
#bongo-cat .laptop-keyboard {
  stroke-width: 2;
  stroke: #e353a2;
}

.paws-down .paw .up {
  display: none;
}
.paws-down .paw .down {
  display: block;
}

.paws-up .paw .up {
  display: block;
}
.paws-up .paw .down {
  display: none;
}

h2 {
  color: white;
  -webkit-animation: upAndDown 1.5s linear infinite;
          animation: upAndDown 1.5s linear infinite;
  text-align: center;
}
h2:hover {
  background: linear-gradient(#D499B9, #D499B9, #593c8f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
h2:hover::before {
  content: "✦";
}
h2:hover::after {
  content: "✦";
}

.about-content {
  color: white;
  text-align: center;
}
.about-content div:first-child {
  margin: 1% 0;
}
.about-content div:not(:first-child) {
  display: grid;
  grid-template-columns: repeat(2, minmax(128px, 30%));
  justify-content: center;
}
.about-content .avatar-section p {
  margin-bottom: 8px;
}
.about-content h3:hover::before {
  content: "✦";
}
.about-content h3:hover::after {
  content: "✦";
}
.about-content .biography-1, .about-content .biography-2 {
  word-wrap: break-word;
}
.about-content .biography-1 p, .about-content .biography-2 p {
  text-align: right;
}
.about-content q {
  color: #976BA4;
}
.about-content .rarity {
  background-position: -2000px;
  background: repeating-linear-gradient(-60deg, #976BA4 0%, #976BA4 21%, #D499B9 31%, #D499B9 50%, #D499B9 61%, #976BA4 71%, #976BA4 100%);
  background-size: 100%;
  color: transparent;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 8px;
}
.about-content img {
  margin: auto;
  width: min(480px, 71%);
  grid-row-start: 1;
  grid-column-start: 1;
}
.about-content h4 {
  text-align: left;
  font-size: 14px;
}

.project-list > * {
  margin: 2rem 0;
}
.project-list p {
  max-width: 60ch;
  word-wrap: break-word;
  margin: 1rem auto;
}
.project-list img {
  width: 500px;
  height: auto;
  overflow: hidden;
}
.project-list .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.project-list .ux-ui-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.project-list .ux-ui-images img {
  width: 240px;
  height: 400px;
  overflow: hidden;
}
.project-list iframe {
  width: auto;
  height: auto;
}

#Contact h2 {
  margin-bottom: 2rem;
}
#Contact .socials > div {
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 5%;
  border: 1px solid white;
  width: 250px;
}
#Contact div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#Contact i {
  margin: 1rem;
  display: inline;
}
#Contact p {
  color: white;
  margin: 0;
}

@-webkit-keyframes extend {
  0% {
    width: 8rem;
  }
  100% {
    width: 9.25rem;
  }
}

@keyframes extend {
  0% {
    width: 8rem;
  }
  100% {
    width: 9.25rem;
  }
}
@-webkit-keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200rem);
  }
}
@keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200rem);
  }
}
@-webkit-keyframes upAndDown {
  0% {
    transform: translate(0, 1px);
  }
  21% {
    transform: translate(0, -1px);
  }
  50% {
    transform: translate(0, -1px);
  }
  100% {
    transform: translate(0, 1px);
  }
}
@keyframes upAndDown {
  0% {
    transform: translate(0, 1px);
  }
  21% {
    transform: translate(0, -1px);
  }
  50% {
    transform: translate(0, -1px);
  }
  100% {
    transform: translate(0, 1px);
  }
}
@-webkit-keyframes eject {
  0% {
    left: -4rem;
  }
  100% {
    left: calc(100% + 4rem);
    transform: rotate(360deg);
  }
}
@keyframes eject {
  0% {
    left: -4rem;
  }
  100% {
    left: calc(100% + 4rem);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: -2000px;
  }
  100% {
    background-position: 2000px;
  }
}
@keyframes shine {
  0% {
    background-position: -2000px;
  }
  100% {
    background-position: 2000px;
  }
}
@media (min-width: 1200px) {
  .about-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .about-content div:not(:first-child) {
    grid-template-columns: none;
    grid-template-rows: none;
    justify-content: normal;
  }
  .about-content > div {
    grid-row: 1;
  }
  .about-content .biography-1 {
    text-align: right;
    margin: auto 0;
    grid-column: 1;
  }
  .about-content .biography-1 h4 {
    text-align: right;
  }
  .about-content .biography-1 p {
    text-align: right;
  }
  .about-content .avatar-section {
    text-align: center;
    grid-column: 2;
  }
  .about-content .biography-2 {
    text-align: left;
    margin: auto 0;
    grid-column: 3;
  }
  .about-content .biography-2 h4 {
    text-align: left;
  }
  .about-content .biography-2 p {
    text-align: left;
  }
}/*# sourceMappingURL=styles.css.map */