@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  cursor: url("../static/cursor.cur"), auto;
  overflow-x: hidden;
}

a:hover {
  cursor: url("../static/cursor.cur"), auto;
}

body {
  padding: 1%;
  background: #171738;
  font-size: 14px;
  font-family: "Silkscreen", sans-serif;
}

.main-content {
  display: none;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  inset: 0;
  overflow: hidden;
  position: absolute;
  display: block;
  background: radial-gradient(circle at center, rgba(89, 60, 143, 0.25), #171738);
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 320px;
  height: 2.5px;
  border-radius: 10px;
  background-color: rgb(152, 152, 152);
}
.progress-bar > span {
  display: block;
  position: relative;
  overflow: hidden;
  width: 0;
  height: 100%;
  background: white;
}

.amogus {
  width: 64px;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 40%;
  left: -4rem;
  opacity: 1;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.stars-parallax {
  height: 100%;
  width: 100%;
  overflow: hidden;
  rotate: 90deg;
}
.stars-parallax .stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1742px 441px #FFF , 339px 1859px #FFF , 976px 497px #FFF , 1201px 612px #FFF , 354px 1618px #FFF , 1045px 83px #FFF , 1597px 943px #FFF , 152px 1090px #FFF , 465px 1906px #FFF , 1515px 1015px #FFF , 1631px 818px #FFF , 42px 356px #FFF , 1816px 330px #FFF , 952px 1419px #FFF , 1465px 949px #FFF , 1628px 1408px #FFF , 39px 1131px #FFF , 893px 395px #FFF , 1713px 756px #FFF , 795px 1346px #FFF , 198px 870px #FFF , 970px 240px #FFF , 1276px 809px #FFF , 1761px 1154px #FFF , 1223px 1619px #FFF , 1856px 266px #FFF , 1148px 406px #FFF , 503px 1317px #FFF , 960px 1013px #FFF , 411px 1259px #FFF , 1352px 1501px #FFF , 614px 599px #FFF , 94px 1160px #FFF , 1599px 1025px #FFF , 569px 408px #FFF , 577px 1794px #FFF , 1210px 637px #FFF , 1079px 913px #FFF , 931px 1566px #FFF , 110px 88px #FFF , 688px 1825px #FFF , 545px 1357px #FFF , 1154px 1082px #FFF , 1319px 1176px #FFF , 1591px 1204px #FFF , 1732px 90px #FFF , 1689px 1002px #FFF , 294px 1481px #FFF , 375px 1133px #FFF , 1967px 1685px #FFF , 1810px 1890px #FFF , 944px 1786px #FFF , 901px 347px #FFF , 202px 401px #FFF , 214px 581px #FFF , 931px 551px #FFF , 1083px 22px #FFF , 687px 1827px #FFF , 1435px 390px #FFF , 850px 315px #FFF , 447px 721px #FFF , 716px 1259px #FFF , 1138px 1502px #FFF , 143px 658px #FFF , 1659px 858px #FFF , 1564px 940px #FFF , 1374px 1105px #FFF , 889px 276px #FFF , 52px 1052px #FFF , 265px 1441px #FFF , 1466px 1068px #FFF , 1848px 283px #FFF , 692px 135px #FFF , 1617px 798px #FFF , 162px 1297px #FFF , 819px 540px #FFF , 804px 1349px #FFF , 889px 55px #FFF , 266px 1263px #FFF , 1223px 710px #FFF , 766px 160px #FFF , 449px 667px #FFF , 121px 71px #FFF , 443px 1427px #FFF , 1762px 36px #FFF , 741px 836px #FFF , 347px 555px #FFF , 1618px 673px #FFF , 328px 1493px #FFF , 1398px 1719px #FFF , 1635px 1614px #FFF , 268px 1780px #FFF , 1741px 1443px #FFF , 1081px 894px #FFF , 309px 1476px #FFF , 1965px 716px #FFF , 177px 1152px #FFF , 1317px 69px #FFF , 1510px 147px #FFF , 826px 1752px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}
.stars-parallax .stars::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1742px 441px #FFF , 339px 1859px #FFF , 976px 497px #FFF , 1201px 612px #FFF , 354px 1618px #FFF , 1045px 83px #FFF , 1597px 943px #FFF , 152px 1090px #FFF , 465px 1906px #FFF , 1515px 1015px #FFF , 1631px 818px #FFF , 42px 356px #FFF , 1816px 330px #FFF , 952px 1419px #FFF , 1465px 949px #FFF , 1628px 1408px #FFF , 39px 1131px #FFF , 893px 395px #FFF , 1713px 756px #FFF , 795px 1346px #FFF , 198px 870px #FFF , 970px 240px #FFF , 1276px 809px #FFF , 1761px 1154px #FFF , 1223px 1619px #FFF , 1856px 266px #FFF , 1148px 406px #FFF , 503px 1317px #FFF , 960px 1013px #FFF , 411px 1259px #FFF , 1352px 1501px #FFF , 614px 599px #FFF , 94px 1160px #FFF , 1599px 1025px #FFF , 569px 408px #FFF , 577px 1794px #FFF , 1210px 637px #FFF , 1079px 913px #FFF , 931px 1566px #FFF , 110px 88px #FFF , 688px 1825px #FFF , 545px 1357px #FFF , 1154px 1082px #FFF , 1319px 1176px #FFF , 1591px 1204px #FFF , 1732px 90px #FFF , 1689px 1002px #FFF , 294px 1481px #FFF , 375px 1133px #FFF , 1967px 1685px #FFF , 1810px 1890px #FFF , 944px 1786px #FFF , 901px 347px #FFF , 202px 401px #FFF , 214px 581px #FFF , 931px 551px #FFF , 1083px 22px #FFF , 687px 1827px #FFF , 1435px 390px #FFF , 850px 315px #FFF , 447px 721px #FFF , 716px 1259px #FFF , 1138px 1502px #FFF , 143px 658px #FFF , 1659px 858px #FFF , 1564px 940px #FFF , 1374px 1105px #FFF , 889px 276px #FFF , 52px 1052px #FFF , 265px 1441px #FFF , 1466px 1068px #FFF , 1848px 283px #FFF , 692px 135px #FFF , 1617px 798px #FFF , 162px 1297px #FFF , 819px 540px #FFF , 804px 1349px #FFF , 889px 55px #FFF , 266px 1263px #FFF , 1223px 710px #FFF , 766px 160px #FFF , 449px 667px #FFF , 121px 71px #FFF , 443px 1427px #FFF , 1762px 36px #FFF , 741px 836px #FFF , 347px 555px #FFF , 1618px 673px #FFF , 328px 1493px #FFF , 1398px 1719px #FFF , 1635px 1614px #FFF , 268px 1780px #FFF , 1741px 1443px #FFF , 1081px 894px #FFF , 309px 1476px #FFF , 1965px 716px #FFF , 177px 1152px #FFF , 1317px 69px #FFF , 1510px 147px #FFF , 826px 1752px #FFF;
}

.loading-text {
  font-size: 24px;
  color: white;
  -webkit-animation: extend 3s steps(3, end) infinite;
          animation: extend 3s steps(3, end) infinite;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.5rem;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.loading-text::after {
  content: "...";
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar a {
  color: white !important;
}
.navbar .nav-link:hover {
  -webkit-animation: upAndDown 1s linear infinite;
          animation: upAndDown 1s linear infinite;
  background: linear-gradient(#D499B9, #D499B9, #593c8f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.navbar .navbar-brand {
  color: white;
  -webkit-animation: upAndDown 2s linear infinite;
          animation: upAndDown 2s linear infinite;
}
.navbar .navbar-brand:hover {
  color: #976BA4;
  background-position: -2000px;
  background: repeating-linear-gradient(-60deg, #593c8f 0%, #593c8f 21%, #D499B9 31%, white 50%, #D499B9 61%, #593c8f 71%, #593c8f 100%);
  background-size: 100%;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 20s linear infinite;
          animation: shine 20s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(1px 1px white);
}
.navbar ul > li {
  margin: 1rem 0;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}
.navbar button.navbar-toggler-collapse:hover {
  border: 1px solid white;
}

section {
  padding: 1%;
  color: white;
  text-align: center;
}
section h4 {
  text-align: center;
}
section h4:hover {
  color: #976BA4;
  background-position: -2000px;
  background: repeating-linear-gradient(-60deg, #593c8f 0%, #593c8f 21%, #D499B9 31%, white 50%, #D499B9 61%, #593c8f 71%, #593c8f 100%);
  background-size: 100%;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 20s linear infinite;
          animation: shine 20s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(1px 1px white);
}
section p {
  color: #976BA4;
}

.main-content section:not(#Main) {
  margin-bottom: 6rem;
}

#Main {
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}
#Main > * {
  word-wrap: break-word;
}
#Main > div {
  margin: 4rem 0;
}
#Main h1 {
  -webkit-animation: upAndDown 1.5s linear infinite;
          animation: upAndDown 1.5s linear infinite;
  margin: 0;
}
#Main .description > * {
  display: inline-block;
}
#Main .description p {
  margin: 1rem 0;
  color: #976BA4;
  background-position: -2000px;
  background: repeating-linear-gradient(-60deg, #593c8f 0%, #593c8f 21%, #976BA4 31%, #D499B9 50%, #976BA4 61%, #593c8f 71%, #593c8f 100%);
  background-size: 100%;
  color: transparent;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

.funni-bongo-cat {
  margin-bottom: 0 !important;
}
.funni-bongo-cat svg {
  max-width: 720px;
}
.funni-bongo-cat text {
  display: none;
}
.funni-bongo-cat:hover text {
  display: block;
}

#bongo-cat {
  fill: #171738;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#bongo-cat .head {
  transform: translate(1%, 0);
}
#bongo-cat .head text {
  stroke-width: 1;
}
#bongo-cat .paw, #bongo-cat .head {
  stroke: #D499B9;
}
#bongo-cat .pads {
  stroke-width: 2;
}
#bongo-cat .laptop-base, #bongo-cat .table-base, #bongo-cat .laptop-cover {
  stroke: #976BA4;
}
#bongo-cat .laptop-keyboard {
  stroke-width: 2;
  stroke: #e353a2;
}

.paws-down .paw .up {
  display: none;
}
.paws-down .paw .down {
  display: block;
}

.paws-up .paw .up {
  display: block;
}
.paws-up .paw .down {
  display: none;
}

h2 {
  color: white;
  -webkit-animation: upAndDown 1.5s linear infinite;
          animation: upAndDown 1.5s linear infinite;
  text-align: center;
}
h2:hover {
  background: linear-gradient(#D499B9, #D499B9, #593c8f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
h2:hover::before {
  content: "✦";
}
h2:hover::after {
  content: "✦";
}

.about-content {
  color: white;
  text-align: center;
}
.about-content div:first-child {
  margin: 1% 0;
}
.about-content div:not(:first-child) {
  display: grid;
  grid-template-columns: repeat(2, minmax(128px, 30%));
  justify-content: center;
}
.about-content .avatar-section p {
  margin-bottom: 8px;
}
.about-content h3:hover::before {
  content: "✦";
}
.about-content h3:hover::after {
  content: "✦";
}
.about-content .biography-1, .about-content .biography-2 {
  word-wrap: break-word;
}
.about-content .biography-1 p, .about-content .biography-2 p {
  text-align: right;
}
.about-content q {
  color: #976BA4;
}
.about-content .rarity {
  background-position: -2000px;
  background: repeating-linear-gradient(-60deg, #976BA4 0%, #976BA4 21%, #D499B9 31%, #D499B9 50%, #D499B9 61%, #976BA4 71%, #976BA4 100%);
  background-size: 100%;
  color: transparent;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 8px;
}
.about-content img {
  margin: auto;
  width: min(480px, 71%);
  grid-row-start: 1;
  grid-column-start: 1;
}
.about-content h4 {
  text-align: left;
  font-size: 14px;
}

.project-list > * {
  margin: 2rem 0;
}
.project-list p {
  max-width: 60ch;
  word-wrap: break-word;
  margin: 1rem auto;
}
.project-list img {
  width: 500px;
  height: auto;
  overflow: hidden;
}
.project-list .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.project-list .ux-ui-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.project-list .ux-ui-images img {
  width: 240px;
  height: 400px;
  overflow: hidden;
}
.project-list iframe {
  width: auto;
  height: auto;
}

#Contact h2 {
  margin-bottom: 2rem;
}
#Contact .socials > div {
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 5%;
  border: 1px solid white;
  width: 250px;
}
#Contact div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#Contact i {
  margin: 1rem;
  display: inline;
}
#Contact p {
  color: white;
  margin: 0;
}

@-webkit-keyframes extend {
  0% {
    width: 8rem;
  }
  100% {
    width: 9.25rem;
  }
}

@keyframes extend {
  0% {
    width: 8rem;
  }
  100% {
    width: 9.25rem;
  }
}
@-webkit-keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200rem);
  }
}
@keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200rem);
  }
}
@-webkit-keyframes upAndDown {
  0% {
    transform: translate(0, 1px);
  }
  21% {
    transform: translate(0, -1px);
  }
  50% {
    transform: translate(0, -1px);
  }
  100% {
    transform: translate(0, 1px);
  }
}
@keyframes upAndDown {
  0% {
    transform: translate(0, 1px);
  }
  21% {
    transform: translate(0, -1px);
  }
  50% {
    transform: translate(0, -1px);
  }
  100% {
    transform: translate(0, 1px);
  }
}
@-webkit-keyframes eject {
  0% {
    left: -20%;
  }
  100% {
    left: 120%;
    -webkit-transform: rotate(360deg);
  }
}
@keyframes eject {
  0% {
    left: -20%;
  }
  100% {
    left: 120%;
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: -2000px;
  }
  100% {
    background-position: 2000px;
  }
}
@keyframes shine {
  0% {
    background-position: -2000px;
  }
  100% {
    background-position: 2000px;
  }
}
@media (min-width: 1200px) {
  .about-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .about-content div:not(:first-child) {
    grid-template-columns: none;
    grid-template-rows: none;
    justify-content: normal;
  }
  .about-content > div {
    grid-row: 1;
  }
  .about-content .biography-1 {
    text-align: right;
    margin: auto 0;
    grid-column: 1;
  }
  .about-content .biography-1 h4 {
    text-align: right;
  }
  .about-content .biography-1 p {
    text-align: right;
  }
  .about-content .avatar-section {
    text-align: center;
    grid-column: 2;
  }
  .about-content .biography-2 {
    text-align: left;
    margin: auto 0;
    grid-column: 3;
  }
  .about-content .biography-2 h4 {
    text-align: left;
  }
  .about-content .biography-2 p {
    text-align: left;
  }
}/*# sourceMappingURL=styles.css.map */